{
	"branches": ["main"],
	"plugins": [
		"@semantic-release/commit-analyzer",
		"@semantic-release/release-notes-generator",
		[
			"@semantic-release/exec",
			{
				"prepareCmd": "ci/write_cargo_version.sh ${nextRelease.version}"
			}
		],
		[
			"@semantic-release/git",
			{
				"assets": ["Cargo.toml", "Cargo.lock"]
			}
		],
		"@semantic-release/github"
	]
}
