name: Release
on:
  push:
    branches:
      - "main"
      
jobs:
  semantic-release:
    name: Release the application
    runs-on: ubuntu-latest
    steps:
      - name: Generate Bot token used to release
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.RELEASE_APP_ID }}
          private_key: ${{ secrets.RELEASE_APP_PRIVATE_KEY }}      
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ steps.generate_token.outputs.token }}
      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22
      
      - name: Install Semantic Release globally
        run: npm install -g semantic-release @semantic-release/git @semantic-release/exec @semantic-release/changelog

      # Semantic Release configuration executes gh CLI which triggers the deploy workflow
      - name: Release with semantic versioning
        run: npx semantic-release
        env:
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}
